[Unit]
Description=Atop advanced performance monitor
Documentation=man:atop(1)

[Service]
EnvironmentFile=/etc/default/atop
ExecStart=/usr/share/atop/atop.daily
KillSignal=SIGUSR2

[Install]
WantedBy=multi-user.target
